<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8f5de5cb-da38-4417-990e-457c3292608e/resourceGroups/viberkeda/providers/Microsoft.ContainerRegistry/registries/viberregistry</ResourceId>
    <ResourceName>viberregistry</ResourceName>
    <ResourceGroup>viberkeda</ResourceGroup>
    <Subscription>KarthikeyanVK</Subscription>
    <RegistryUrl>https://viberregistry.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cb39a04b-803a-4140-a8ea-1d4b83a132b2</ProjectGuid>
  </PropertyGroup>
</Project>